<ion-header>
	<ion-navbar color="primary">
		<ion-title class="color-blue">Detalles del viaje</ion-title>
		<ion-buttons end>
			<button ion-button color="button_all" (click)="ontrack(driver)"
				style="background: #f2c21e;padding: 10px;border-radius: 27px;" block round *ngIf="!details.cancel_id">
				<ion-icon name="ios-send-outline" style="font-size: 2.5em !important;color: #0f0f0f;"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>

	<div *ngIf="details">
		<ion-list margin-top>
			<ion-item item-start>
				<ion-label>RESERVACIÓN ID</ion-label>
				<ion-label>{{details.uneaque_id}}</ion-label>
			</ion-item>
		</ion-list>

		<div class="box-container" padding margin>
			<div>
				<h2>LUGAR DE PARTIDA</h2>
				<p>{{details.pickup_area}}</p>
				<p>{{details.pickup_time}} , {{details.pickup_date}}</p>
			</div>

			<div m-top-30 text-center>
				<hr class="blue-hr" />
				<span class='mid-item'>A</span>
			</div>

			<div margin-top>
				<h2>LUGAR DE DESTINO</h2>
				<p>{{details.drop_area}}</p>
				<p *ngIf='details.drop_time'>{{details.drop_time}} , {{details.drop_date}}</p>
			</div>
		</div>

		<!-- <div class="row no-padding b-border-light" (click)="ontrack(driver)">
			<p class='color-gery' style="text-align: center;width: 100%;color: #eebf1d !important;">Driver location click to
				track &rarr;</p>
		</div> -->

		

		<div class="box-container" padding margin>
			

	
		</div>

		<div class="box-container" padding margin *ngIf="details && details.cancel_id">
			<h2>DEATALLES CANCELACIÓN</h2>
			<p>{{details.reason}}</p>
		</div>

		<div padding>
			<button ion-button block round no-padding (click)="cancelRide()" *ngIf="details && !details.cancel_id">
				Cancelar viaje
			</button>

			<button margin-top ion-button outline block round no-padding color="dark" (click)="onFeedback()">
				Envianos tus comentarios
			</button>
		</div>

	</div>
</ion-content>


<div id="filter_options" *ngIf="activateFilterBlock">
	<div padding>
		<h2>Cancel Ride</h2>
		<ion-list>
			<ion-item *ngIf="categories">
				<ion-label>Subject:</ion-label>
				<ion-select [(ngModel)]="selectedCategories" okText="ok" cancelText="cancel">
					<ion-option *ngFor="let category of categories" [value]="category.id" [innerHtml]="category.title">
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item *ngIf="categories">
				<ion-label>Reason:</ion-label>
				<ion-input [(ngModel)]="selectedReason" type="text" placeholder="Enter reason" required></ion-input>
			</ion-item>


		</ion-list>
		<button ion-button block round id="apply_filters" (click)="applyFilters()">Submit</button>
		<ion-row>
			<ion-col>
				<button ion-button clear icon-only color="white" (click)="resetFilters()">
					<ion-icon name="md-refresh"></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button clear icon-only color="white" (click)="closeFilters()">
					<ion-icon name="md-close"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</div>
</div>
